{% extends 'layout.html' %} {% block content %}
<div class="container">
        <h1>Disclaimer</h1>
        <p class="lead">This site is made for laughs. Using it inappropriately and in situations where laughs and irony is not suitable may cause embarrassment at best and your job at worst.</p>

        <p class="lead">This is a tool, handle it with care! Remember the wise words of Borat:
        <blockquote>It's like giving gun to monkey... very dangerous</blockquote>
        <p class="lead">or Spider-man:</p>
        <blockquote>With great powers comes great responsibility</blockquote>
        </p>

        <p class="lead">If this site helps you have more fun at work and increased the number of laughs in your meetings - then it has done it's job</p>
</div>
{% endblock %}