{% extends 'layout.html' %}

{% block content %}
<h1>Disclaimer</h1>
<p>This site is made for laughs. Using it inappropriately and in situations where laughs and irony is not suitable may cause embarrassment at best and your job at worst.</p>

<p>This is a tool, handle it with care!</p>

<p>Remember the wise words of Borat:
	<blockquote>It's like giving gun to monkey... very dangerous</blockquote>
	or Spider-man:
	<blockquote>With great powers comes great responsibility</blockquote>
</p>

<p>If this site helps you have more fun at work - it's done it's job</p>
{% endblock %}