{% extends 'layout.html' %}

{% block content %}
<div class="container">
	{% for sound in sounds %}
	<div class="col-md-6">
		<center><p>
			<audio id="{{ sound.name }}" src="/api/sound/{{ sound.name }}" preload="auto" autobuffer></audio>
			<a class="btn btn-lg btn-info button_type_sound" data-soundname="{{ sound.name }}" onClick="EvalSound('{{ sound.name }}')" role="button">{{ sound.heading }}</a>
		</p>
		<p class="normal">{{ sound.description }}</p>
		</center>
	</div>
	{% endfor %}
</div>
{% endblock %}