{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
		<div class="panel">
	        <div class="panel-heading">
	            <h3>{{ sound.heading }}</h3>
	        </div>
	        <div class="panel-body">
	            <table>
	                <tr>
	                    <td width="30%">
	                        <audio
	                        	id="{{ sound.name }}"
	                        	src="/api/sound/{{ sound.name }}"
	                        	preload="auto"
	                        {% if sound.play === true  %}
	                        	autoplay='autoplay'
	                        {% endif %}
	                        	autobuffer>
	                        </audio>
	                        <button class="btn btn-lg btn-primary button_type_sound" data-soundname="{{ sound.name }}" onClick="playSound('{{ sound.name }}')" role="button">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                Play!
	                        </button>
	                    </td>
	                    <td>
	                        <table>
	                            <tr>
	                                <td class="lead">
	                                	{{ sound.description }}
	                                </td>
	                            </tr>
	                            <tr>
	                    	        <td class="lead">
	                    	        	{% include "./soundPlayedPartial.html" %}
	                    	        </td>
	                            </tr>
	                            <tr>
	                            	<td>
	                            		<button
	                            			class="btn btn-info"
	                            			id="copy-button"
	                            			data-clipboard-text="http://booooring.com/sound/{{ sound.name }}?autoplay=true"
	                            			title="URL for instant play">
                                				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                				Copy Autoplay URL
                            			</button>
                            			<span class="normal" id="copyMessage"></span>
	                            	</td>
	                            </tr>
	                        </table>
	                    </td>
	                </tr>
	            </table>
	        </div>
	    </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-12">
        <div class="page-header">
          <h1 id="type">Stories - how did you use {{ sound.heading }}?</h1>
        </div>
  	</div>
</div>
<div class="row">
	<div class="col-lg-12" id="disqus_thread"></div>
</div>
{% endblock %}